*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-areas: 
    'a a b c'
    'd e e c';
    gap:21px;
    width: 50%;
    margin: auto;
    
}
main div{
    padding: 2em;
    text-align: center;
    border-radius: 5px;
    
}

.item-a{
    background-color: blueviolet;
    grid-area: a;
}

.item-b{
    background-color: grey;
    grid-area: b;
}

.item-c{
    background-color: white;
    grid-area: c;
}

.item-d {
    background-color: white;
    grid-area: d;
}

.item-e{
    background-color: rgb(121, 112, 112);
    grid-area: e;
}